.main-1,
.main-2 {
  height: 100vh;
}
.right-sidebar {
  height: 100%;
  background-color: $color-white;
  padding: 5rem;
  padding-top: 3.8rem;
  box-shadow: -0.1rem 0px 2rem 0.1rem #e9e9e9;
}

.right-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.add-project-btn {
  background-color: $color-orange-1;
  color: $color-white;
  border: none;
  font-family: "poppins";
  padding: 1.2rem 2.3rem;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: 300;
  cursor: pointer;
  transition: background-color 0.2s;
}

.add-project-btn:hover {
  background-color: $color-orange;
}
.user-details {
  margin-right: 1rem;
}
.user-info {
  display: flex;
  align-items: center;
}

.notification-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;

  .notification-btn {
    position: relative;
    background: none;
    border: none;
    font-size: 2.6rem;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .notification-dot {
    position: absolute;
    top: 4px;
    right: 0.3rem;
    width: 0.7rem;
    height: 0.7rem;
    border: 0.01px solid $color-white;
    background: $color-orange-1;
    border-radius: 50%;
    z-index: 1;
  }
}

.user-avatar img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #d4a574;
}

.user-name {
  font-size: 14px;
  font-weight: 600;
  margin-right: 8px;
}
.user-type {
  color: $color-grey-light;
}
.dropdown-arrow ion-icon {
  font-size: 12px;
  color: $color-orange-1;
  background-color: $color-orange-light-1;
  padding: 0.2rem;
  border-radius: 50%;
  border: 0.1rem solid $color-orange-light;
}

.team-members {
  margin-bottom: 1rem;
}

.team-members h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}

.team-avatars-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.team-avatar img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 2px solid $color-white;
}

.team-avatar.member3 {
  background-color: $color-orange-light-1;
  width: 5rem;
  height: 5rem;
  display: flex;
  color: $color-orange-1;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.5rem;
  border: 2px solid $color-white;
}

.team-avatar.add-member {
  background-color: $color-orange-light-1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-orange-1;
  font-size: 20px;
  border-radius: 50%;
  border: 0.18rem dashed $color-orange-1;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.stats-grid {
  background-color: $color-white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 1rem rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.stats-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.stat-item {
  display: flex;
  flex-direction: column;
}

.stat-label {
  font-size: 12px;
  color: #666;
  margin-bottom: 0.2rem;
}

.stat-value {
  font-size: 1.8rem;
  font-weight: 600;
  color: $color-black;
}

.daily-tasks {
  .daily-tasks-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    h3 {
      font-size: 1.6rem;
      font-weight: bold;
    }

    .edit-btn {
      color: $color-orange-1;
      font-weight: 400;
      font-size: 1.5rem;
      text-decoration: none;
    }
  }

  .tasks-grid {
    padding: 5px;
    max-height: 270px;
    overflow-y: auto;
    padding-right: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .task-item {
    border-radius: 16px;
    padding: 16px;
    min-height: 14rem;
    position: relative;
    background: $color-white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &.done {
      background: $color-orange-1;
    }

    &.add-new {
      background-color: $color-light-bg;
      .add-header {
        font-size: 16px;
        font-weight: 500;
      }

      .add-plus {
        font-size: 24px;
        position: absolute;
        bottom: 16px;
        right: 16px;
      }
    }
  }

  .task-top {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;

    .task-status-row {
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 12px;
      font-weight: 500;

      &.white {
        color: $color-white;
      }

      .dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;

        &.red {
          background-color: $red;
        }

        &.blue {
          background-color: $green;
        }

        &.white {
          background-color: $color-white;
        }
      }
    }

    .checkbox {
      position: relative;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .checkmark {
        width: 20px;
        height: 20px;
        border: 1.5px solid $color-orange-1;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-white;
        transition: all 0.2s ease;

        ion-icon {
          font-size: 14px;
          opacity: 0;
          color: $color-white;
        }
      }

      input:checked + .checkmark {
        background-color: $color-black;
        border-color: $color-black;

        ion-icon {
          opacity: 1;
        }
      }
    }
  }

  .task-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    width: 70%;
    margin-top: 12px;

    &.white-text {
      color: $color-white;
    }
  }
}

.three-dots-1 {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.three-dots-1 span {
  width: 0.7rem;
  height: 0.7rem;
  background-color: $color-orange;
  border-radius: 50%;
  transition: background-color 0.2s;
}
