.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.nav-wrapper {
  display: flex;
  height: 100vh;
}
.sidebar {
  width: 8.4rem;
  background-color: $color-white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 6rem;
}
nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  width: 50rem;
  position: relative;
}

header {
  background-color: white;
  height: 10rem;
  display: flex;
  align-items: center;
  border-bottom: 0.1rem $color-grey-light-1 solid;

  .logo {
    padding: 2.2rem;
    padding-left: 2.2rem;
  }
  .logo img {
    height: 4rem;
    width: 4rem;
  }
  .comp-name {
    display: flex;
    height: 100%;
    width: 90%;
    background-color: $color-light-bg;
    padding: 3rem;
    padding-bottom: 2rem;
    flex-direction: column;
    justify-content: center;
  }
  .main-heading {
    font-size: 2.5rem;
  }
  .sub-heading {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 0.8;
    color: $color-grey;
  }
}
.icon {
  font-size: 2.5rem;
  color: $color-black;
  padding: 1.8rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
.icon:hover,
.icon.active {
  background-color: $color-light-bg;
}
.content {
  flex: 1;
  background: $color-light-bg;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.panel {
  display: none;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;
  color: #333;
}
input[type="radio"] {
  display: none;
}
#home:checked ~ .content .panel-home,
#team:checked ~ .content .panel-team,
#tasks:checked ~ .content .panel-tasks,
#reminders:checked ~ .content .panel-reminders,
#chat:checked ~ .content .panel-chat {
  display: flex;
}
label {
  width: 100%;
}
.icon-label {
  display: block;
  width: 100%;
  text-align: center;
}
.sub-nav {
  &__button {
    border: none;
    background-color: transparent;
    padding: 2.2rem;
    padding-left: 2.9rem;

    ion-icon {
      font-size: 2.3rem;
      color: $color-black;
    }
  }
  &__content {
    height: 100vh;
    background-color: $color-light-bg;
    &__group {
      margin: 0.2rem 0;
      padding: 0.4rem 1.4rem;
    }
    &--button {
      border: none;
      background-color: transparent;
      font-weight: 600;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      font-size: 1.7rem;
      font-family: "Poppins";

      ion-icon {
        font-size: 1.8rem;
        color: $color-black;
      }
    }
    &__sub-category {
      list-style: none;
      &-item {
        margin: 0.5rem 0;
        &:last-child {
          font-weight: 600;
        }
        .sub-category {
          width: 80%;
          display: flex;
          gap: 0.5rem;
          font-size: 1.4rem;
          padding-left: 2rem;
        }
        a {
          text-decoration: none;
          color: $color-grey;
          font-family: "Poppins";
        }
      }
    }
  }
}

.nav-item .sub-nav__content {
  display: none;
}

.nav-item.active .sub-nav__content {
  display: flex;
  flex-direction: column;
}

.right-arr {
  display: block;
}
.down-arr {
  display: none;
}

.sub-nav__content__group.active .right-arr {
  display: none;
}
.sub-nav__content__group.active .down-arr {
  display: block;
}

.sub-nav__content__sub-category {
  display: none;
}

.sub-nav__content__group.active .sub-nav__content__sub-category {
  display: block;
}
.question-mark {
  position: absolute;
  bottom: 2.3rem;
  left: 2.3rem;
  background-color: $color-black;
  border-radius: 5rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.question-mark ion-icon {
  color: $color-white;
  font-size: 1.6rem;
}
